body{
		background: url(ssssx.jpg);
	background-size: cover;
}
.galle{
	background-image: url(qx.jpg);
    background-size: cover;
	background-repeat: repeat;
	width: none;
	height: 500px;
}
.wrapper h1{
	color: black;
	font-size: 50px;
	font-style: bold;
		font-family: Tahoma, geneva, sans-serif;
	color: #fff;
	margin-left: 30PX;
}
.galle p{
	margin-left: 30PX;
	margin-right: 1100px;
	color: white;
		font-family: Tahoma, geneva, sans-serif;
	color: #fff;
}
.letter{
			font-family: Tahoma, geneva, sans-serif;
	color: #fff;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 50px;
	margin-top: 50px;
}